@use "../../scss/common.scss";

.dish {
  padding: 10px;
  border: 1px solid common.$colorCreamy;
  border-radius: 0.5em;
  box-sizing: border-box;
  line-height: 2.5;
  display: flex;
  justify-content: space-between;

  &__name {
    font-style: italic;
  }
}
