@use "../../scss/common.scss" as c;
@use "../../scss/buttons.scss" as b;

.review {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  padding: 10px;
  box-sizing: border-box;
  border: 2px dashed c.$colorCreamy;

  &__icon {
    position: absolute;
    top: -20px;
    left: 0;
  }

  &__rating {
    display: flex;
    align-items: center;
  }
}

.review__editBtn {
  @include b.primaryButton();
}
