@import "../../scss/common.scss";
@import "../../scss/buttons.scss";

.review {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  padding: 10px;
  box-sizing: border-box;
  border: 2px dashed $colorCreamy;

  &__icon {
    position: absolute;
    top: -20px;
    left: 0;
  }

  &__name {
    font-weight: bold;
  }

  &__rating {
    display: flex;
    align-items: center;
  }
}

.review__editBtn {
  @include primaryButton();
}

.review__btnContainer {
  margin-top: 10px;
}

.review__input {
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.review__editForm {
  display: flex;
}

.review__ratingLabel {
  margin-right: 10px;
}
