@import "../../scss/common.scss";

.categories {
  background-color: #198737;
}
.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpointMobile) {
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
  }
}
.categories__item {
  margin: 20px;
}
