@import "../../scss/common.scss";

$pageWidth: 800px;

.restaurantPage {
  &:global(.loading) {
    display: none;
  }
}

.spinnerWrapper {
  display: none;
  height: 100%;
  background-color: $lightCreamy;

  &:global(.loading) {
    display: block;
  }
}

.spinner {
  width: 100px;
  display: block;
  position: absolute;
  left: calc(50% - 50px);
  top: 150px;
}

.restaurantPage__category {
  margin: 0 auto;
  max-width: $pageWidth;
}

.restaurantPage__restaurant {
  margin: 20px auto;
  max-width: $pageWidth;

  @media screen and (max-width: $breakpointMobile) {
    margin: 20px $mobilePadding;
  }
}
