@import "../../scss/common.scss";

.restaurant {
  border: 2px solid $colorCreamy;
  padding: 20px;
  background-color: $colorLightCreamy;
  border-radius: 0.3em;
}

.restaurant__name {
  text-align: center;
}
