.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.layout__header {
  position: sticky;
  top: 0;
}

.layout__main {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
}
