@import "../../scss/common.scss";

.category {
  padding: 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  width: 110px;

  // :global() selector doesn't attach a hash to .light
  &:global(.light) {
    background-color: $colorLightCreamy;
    color: $colorBrown;

    &:hover {
      background-color: $colorBrown;
      color: $colorLightCreamy;
    }
  }

  &:global(.dark) {
    background-color: $colorBrown;
    color: $colorLightCreamy;

    &:hover {
      background-color: $colorLightCreamy;
      color: $colorBrown;
    }
  }
}
.category_active {
  opacity: 0.5;
}
