@import "../../scss/common.scss";

.category {
  cursor: pointer;
  padding: 1.2em;
  border-radius: 0.5em;
  border: none;
  box-sizing: border-box;
  width: 110px;

  // :global() selector doesn't attach a hash to .light
  &:global(.light) {
    background-color: $colorLightCreamy;
    color: $colorBrown;

    &:hover {
      opacity: 0.7;
    }
  }

  &:global(.dark) {
    background-color: $colorBrown;
    color: $colorLightCreamy;

    &:hover {
      opacity: 0.7;
    }
  }
}
.category_active {
  opacity: 0.7;
}
