@use "../../scss/common.scss";
@use "../../scss/buttons.scss";

.footer {
  min-height: 75px;
  background-color: common.$colorBrown;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.footer__button {
  @include buttons.primaryButton();
}
