@import "./common.scss";

@mixin primaryButton() {
  cursor: pointer;
  padding: 1em;
  border-radius: 1em;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  &:global(.light) {
    background-color: $colorCreamy;
    color: $colorBrown;
  }
  &:global(.dark) {
    background-color: #fff;
    color: black;
  }
}
